@charset "UTF-8";
.header_leftbox, .header_rightbox, .menu li, .footerbox .footer_nav li {
  position: relative;
}
.header_leftbox:before, .header_rightbox:before, .menu li:before, .footerbox .footer_nav li:before, .header_leftbox:after, .header_rightbox:after, .menu li:after, .footerbox .footer_nav li:after {
  content: "";
  position: absolute;
}

html {
  font-size: 1em;
  line-height: 1.7142857143em;
}
html html {
  font-size: 87.5%;
  line-height: 1.7142857143em;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 750px) {
  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.iconfont {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_gotop:before {
  content: "";
}

.icon_admin:before {
  content: "";
}

.icon_share:before {
  content: "";
}

.icon_search:before {
  content: "";
}

.icon_gplus:before {
  content: "";
}

.icon_pinter:before {
  content: "";
}

.icon_youtube:before {
  content: "";
}

.icon_insgram:before {
  content: "";
}

.icon_in:before {
  content: "";
}

.icon_fb:before {
  content: "";
}

.icon_twitter:before {
  content: "";
}

.icon_vimeo:before {
  content: "";
}

.icon_bars:before {
  content: "";
}

.icon_print:before {
  content: "";
}

.icon_download:before {
  content: "";
}

.icon_left:before {
  content: "";
}

.icon_right:before {
  content: "";
}

.icon_down:before {
  content: "";
}

.icon_map:before {
  content: "";
}

.icon_design:before {
  content: "";
}

.icon_technology:before {
  content: "";
}

.icon_innovative:before {
  content: "";
}

.icon_basis:before {
  content: "";
}

.icon_close:before {
  content: "";
}

.icon_build:before {
  content: "";
}

.icon_news:before {
  content: "";
}

.icon_award:before {
  content: "";
}

body {
  position: relative;
}

body, input {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

header {
  overflow: hidden;
  font-size: 75%;
  line-height: 1.3em;
  font-family: "Play", sans-serif;
  background: #fff;
}

.logo {
  background: url(../images/logo.svg) no-repeat;
  background-size: 100% auto;
  width: 170px;
  margin: 25px auto 0;
}
.logo a {
  display: block;
  height: 60px;
  overflow: hidden;
  text-indent: -9999px;
}

.header_leftbox {
  display: none;
}
@media (min-width: 1000px) {
  .header_leftbox {
    display: block;
    background: url(../images/header_leftbg.jpg) no-repeat;
    background-size: auto 100%;
    float: left;
    width: 37%;
    height: 90px;
    padding-left: 125px;
    padding-top: 63px;
    color: #828282;
  }
  .header_leftbox:before {
    width: 0;
    height: 0;
    border: 3px solid;
    border-color: transparent transparent transparent #fff;
    z-index: 1;
    left: 193px;
    bottom: 19px;
    display: none;
  }
  .header_leftbox:after {
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background: #252525;
    left: 187px;
    bottom: 15px;
    display: none;
  }
}
@media (min-width: 990px) {
  .header_leftbox {
    background-size: auto 100%;
    height: 110px;
    padding-left: 155px;
    padding-top: 80px;
  }
  .header_leftbox:before {
    left: 223px;
    bottom: 21px;
  }
  .header_leftbox:after {
    left: 217px;
    bottom: 17px;
  }
}

.search_input {
  -moz-transition: width, 0.5s, ease-in;
  -o-transition: width, 0.5s, ease-in;
  -webkit-transition: width, 0.5s, ease-in;
  transition: width, 0.5s, ease-in;
  opacity: 1;
  width: 170px;
  overflow: hidden;
}

.search_hide {
  opacity: 0;
  width: 0 !important;
}

.gsc-search-button {
  display: none !important;
}

.gsc-input {
  background: none !important;
}

.gsib_a {
  padding-top: 0 !important;
}

.gsib_b {
  display: none !important;
}

#adBlock {
  display: none !important;
}

.header_rightbox {
  display: none;
}
@media (min-width: 1000px) {
  .header_rightbox {
    display: block;
    background: url(../images/header_rightbg.jpg) right no-repeat;
    height: 90px;
    background-size: auto 100%;
    float: right;
    width: 60%;
    font-size: 120%;
    text-align: right;
    padding-right: 200px;
    padding-top: 13px;
  }
  .header_rightbox font {
    display: block;
    font-size: 150%;
  }
  .header_rightbox span {
    display: block;
    position: relative;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
  }
  .header_rightbox span i {
    position: absolute;
    right: -20px;
    font-size: 130%;
    cursor: pointer;
  }
  .header_rightbox:before {
    width: 0;
    height: 0;
    border: 4px solid;
    border-color: transparent transparent transparent #252525;
    z-index: 1;
    right: 180px;
    top: 33px;
    display: none;
  }
  .header_rightbox:after {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #252525;
    right: 175px;
    top: 26px;
    opacity: 0.5;
    display: none;
  }
}
@media (min-width: 990px) {
  .header_rightbox {
    height: 110px;
    padding-right: 255px;
  }
  .header_rightbox:before {
    right: 235px;
  }
  .header_rightbox:after {
    right: 230px;
  }
}

nav {
  position: relative;
  z-index: 99;
}

@media (min-width: 1000px) {
  nav + article {
    margin-top: 50px;
  }
}

.mb_search {
  background: #343434;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4NTg1OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMyMzIzMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #585858), color-stop(100%, #323232));
  background: -moz-linear-gradient(#585858, #323232);
  background: -webkit-linear-gradient(#585858, #323232);
  background: linear-gradient(#585858, #323232);
  overflow: hidden;
  padding: 10px 5% 0;
  height: 47px;
}
.mb_search .iconfont {
  font-size: 125%;
  color: #e5e5e5;
}
.mb_search input {
  width: 89%;
  background: none;
  margin-left: 5px;
  border: none;
  color: #e5e5e5;
}
@media (min-width: 1000px) {
  .mb_search {
    display: none;
  }
}

.menu_seach {
  float: left;
  width: 90%;
}

.menu_bars {
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

.mask {
  -moz-transition: height, 0.5s, ease-in;
  -o-transition: height, 0.5s, ease-in;
  -webkit-transition: height, 0.5s, ease-in;
  transition: height, 0.5s, ease-in;
  overflow: hidden;
  height: 0;
}

.maskon {
  height: 100vh;
}

.menu {
  background: #252525;
  text-align: left;
  text-transform: capitalize;
  font-size: 1.3em;
  line-height: 2.5em;
}
.menu li {
  cursor: pointer;
  padding-left: 5%;
  border-bottom: 1px solid #2a2a2a;
}
.menu a {
  color: #828282;
  display: block;
}
.menu .submenu_btn:after {
  width: 0;
  height: 0;
  border: 5px solid;
  top: 36%;
  right: 5%;
  opacity: 0.5;
  border-color: transparent transparent transparent #828282;
}
.menu .back_btn {
  padding-left: 10%;
}
.menu .back_btn:after {
  opacity: 0.5;
  width: 0;
  height: 0;
  border: 5px solid;
  top: 40%;
  left: 5%;
  border-color: transparent #828282 transparent transparent;
}
.menu span {
  display: block;
  width: 210px;
  height: 186px;
}
.menu font {
  display: block;
}
@media (min-width: 1000px) {
  .menu {
    text-align: center;
    display: block;
    background: none;
  }
  .menu li {
    display: inline-block;
    padding-left: 0;
    padding: 0 1.6%;
    border-bottom: 0;
  }
  .menu span {
    width: 120px;
    height: 106px;
    padding-top: 10px;
  }
  .menu .submenu_btn:after {
    top: 50%;
    right: 0;
    border-color: #828282 transparent transparent transparent;
  }
  .menu .back_btn {
    display: none;
  }
}

@media (min-width: 1000px) {
  #mbnav {
    display: none;
  }
}

#menu, #submenu01, #submenu02 {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 47px;
}

#menu {
  left: 0;
}

.fadein_default {
  -moz-transition: left, 0.5s, ease-in;
  -o-transition: left, 0.5s, ease-in;
  -webkit-transition: left, 0.5s, ease-in;
  transition: left, 0.5s, ease-in;
}

.menulist {
  padding-bottom: 20px;
}

#pcnav {
  display: none;
}
@media (min-width: 1000px) {
  #pcnav {
    display: block;
    position: absolute;
    width: 100%;
  }
}

#pcmenu, #pcsubmenu01, #pcsubmenu02 {
  background: #f9f9f9;
}

.active {
  background: #fff;
}

#pcsubmenu01 li {
  border-radius: 5px 5px 0 0;
}
#pcsubmenu01 li:before {
  width: 1px;
  height: 15px;
  background: #d8d8d8;
  top: 50%;
  margin-top: -8px;
  left: -5px;
}
#pcsubmenu01 li:first-child:before {
  display: none;
}
#pcsubmenu01 .submenu_btn:after {
  display: none;
}

#pcsubmenu02 {
  background: #fff;
}
#pcsubmenu02 ul {
  width: 768px;
  margin: 0 auto;
}
#pcsubmenu02 li {
  padding: 0;
  margin: 0;
}

.pc_hide {
  overflow: hidden;
  height: 47px;
}

/*flickity */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}
@media (min-width: 1000px) {
  .flickity-viewport {
    height: auto !important;
  }
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (min-width: 1000px) {
  .flickity-slider {
    position: relative;
    transform: translateX(0) !important;
  }
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.gallery-cell {
  width: 210px;
  height: 222px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}
.gallery-cell img {
  width: 210px;
  height: 186px;
}
.gallery-cell font {
  text-align: center;
  color: #ccc;
}

footer {
  background: #252525;
  color: #828282;
  text-align: center;
}
footer a {
  color: #828282;
}

.footerbox {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1px;
  text-transform: capitalize;
}
.footerbox:after {
  content: " ";
  display: block;
  clear: both;
}
.footerbox .footer_sitemap {
  margin: 5% 0;
  padding: 0 5%;
  vertical-align: top;
  line-height: 250%;
  text-align: left;
}
.footerbox .footer_sitemap h2 {
  color: #c2c2c2;
  border-bottom: 1px solid #585858;
}
.footerbox .footer_sitemap li {
  border-bottom: 1px solid #2d2d2d;
}
.footerbox .footer_nav {
  clear: both;
  border-top: 1px solid #585858;
  text-align: center;
}
.footerbox .footer_nav li {
  display: inline-block;
  padding: 1% 4%;
}
.footerbox .footer_nav li:not(:first-child):before {
  width: 1px;
  background: #585858;
  height: 10px;
  left: 0;
  top: 50%;
  margin-top: -3px;
}
.footerbox .footer_nav li:first-child {
  padding-left: 0;
}
.footerbox .footer_copyright {
  clear: both;
  margin: 3% 0 0;
  padding-bottom: 3%;
  font-size: 92%;
}
@media (min-width: 750px) {
  .footerbox {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .footerbox:after {
    content: " ";
    display: block;
    clear: both;
  }
  .footerbox .footer_sitemap {
    margin: 2% 0 5%;
    width: 17.9487179487%;
    float: left;
    padding: 0;
  }
  .footerbox .footer_sitemap:nth-child(5n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .footerbox .footer_sitemap:nth-child(5n + 2) {
    margin-left: 20.5128205128%;
    margin-right: -100%;
    clear: none;
  }
  .footerbox .footer_sitemap:nth-child(5n + 3) {
    margin-left: 41.0256410256%;
    margin-right: -100%;
    clear: none;
  }
  .footerbox .footer_sitemap:nth-child(5n + 4) {
    margin-left: 61.5384615385%;
    margin-right: -100%;
    clear: none;
  }
  .footerbox .footer_sitemap:nth-child(5n + 5) {
    margin-left: 82.0512820513%;
    margin-right: -100%;
    clear: none;
  }
  .footerbox .footer_nav {
    text-align: left;
    position: relative;
  }
  .footerbox .footer_nav:after {
    content: "";
    position: absolute;
    background: url(../images/footer_logo.svg) no-repeat;
    background-size: 100% auto;
    width: 150px;
    height: 45px;
    right: 10px;
    top: 7px;
    opacity: 0.2;
  }
  .footerbox .footer_nav li {
    padding: 0.5% 1%;
  }
  .footerbox .footer_copyright {
    margin: 0;
    text-align: left;
  }
  .footerbox .footer_copyright a:hover {
    color: #fff;
  }
}

.gradientbg {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ffffff));
  background: -moz-linear-gradient(#fafafa, #ffffff);
  background: -webkit-linear-gradient(#fafafa, #ffffff);
  background: linear-gradient(#fafafa, #ffffff);
}

.graybg {
  background: #fafafa;
}

.txtbox {
  text-align: center;
  padding: 3%;
}
.txtbox h1 {
  margin-top: 50px;
  color: #252525;
  font-size: 200%;
  line-height: 130%;
  text-transform: uppercase;
}
.txtbox p {
  margin: 20px 0;
  color: #666;
  font-size: 14px;
  line-height: 21px;
}
